<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/*
 * Copyright 2015-2016 Aleksandr Mashchenko.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.core.contenttype.contentTypes">
        <content-type
            id="com.amashchenko.eclipse.strutsclipse.strutsxml"
            name="Struts XML"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            priority="high">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="struts/http://struts.apache.org/dtds/struts-2.0.dtd"/>
                <parameter name="element" value="struts/http://struts.apache.org/dtds/struts-2.1.dtd"/>
                <parameter name="element" value="struts/http://struts.apache.org/dtds/struts-2.1.7.dtd"/>
                <parameter name="element" value="struts/http://struts.apache.org/dtds/struts-2.3.dtd"/>
                <parameter name="element" value="struts/http://struts.apache.org/dtds/struts-2.5.dtd"/>
            </describer>
        </content-type>
    </extension>

    <extension point="org.eclipse.wst.sse.ui.completionProposal">
        <proposalCategory
            id="com.amashchenko.eclipse.strutsclipse.strutsxmlcompletionProposal"
            name="Struts XML Proposals">
        </proposalCategory>

        <proposalComputer
            activate="true"
            categoryId="com.amashchenko.eclipse.strutsclipse.strutsxmlcompletionProposal"
            class="com.amashchenko.eclipse.strutsclipse.strutsxml.StrutsXmlCompletionProposalComputer"
            id="com.amashchenko.eclipse.strutsclipse.strutsxmlproposalComputer">
            <contentType id="com.amashchenko.eclipse.strutsclipse.strutsxml"/>
        </proposalComputer>
    </extension>

    <extension point="org.eclipse.wst.sse.ui.editorConfiguration">
        <quickOutlineConfiguration
            target="com.amashchenko.eclipse.strutsclipse.strutsxml"
            class="com.amashchenko.eclipse.strutsclipse.strutsxml.StrutsXmlQuickOutlineConf">
        </quickOutlineConfiguration>
    </extension>

    <extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
        <hyperlinkDetector
            activate="true"
            class="com.amashchenko.eclipse.strutsclipse.strutsxml.StrutsXmlHyperlinkDetector"
            id="com.amashchenko.eclipse.strutsclipse.strutsxmlhyperlinkDetector"
            name="Struts XML"
            targetId="org.eclipse.core.runtime.xml">
        </hyperlinkDetector>
    </extension>

    <extension
        id="com.amashchenko.eclipse.strutsclipse.strutsxmlvalidator"
        name="Struts XML Validator"
        point="org.eclipse.wst.validation.validatorV2">
        <validator
            class="com.amashchenko.eclipse.strutsclipse.strutsxml.StrutsXmlValidator"
            markerId="com.amashchenko.eclipse.strutsclipse.strutsxmlproblemmarker">
            <include>
                <rules>
                    <contentType id="com.amashchenko.eclipse.strutsclipse.strutsxml"/>
                </rules>
            </include>
        </validator>
    </extension>
    <extension
        id="com.amashchenko.eclipse.strutsclipse.strutsxmlproblemmarker"
        name="Struts XML Problem"
        point="org.eclipse.core.resources.markers">
        <persistent value="true"/>
        <super type="org.eclipse.core.resources.problemmarker"/>
    </extension>
</plugin>
